<br />
<br />
<div id="titre">
  <br />
  <h2>Liste de toute vos notifications</h2>
</div>

<div *ngIf="notifs">
  <div *ngFor="let notif of notifs">
    <div class="notification-list notification-list--unread-red">
      <div class="notification-list_content">
        <div class="notification-list_detail">
          <p>test</p>
        </div>
      </div>
      <div class="notification-list_feature-img"><p>test</p></div>
    </div>
  </div>
</div>

<div class="notification-list notification-list--unread">
  <div class="notification-list_content">
    
    <div class="notification-list_detail">
      <p><b>Raj Kumar</b> liked your post</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
      <p class="text-muted"><small>10 mins ago</small></p>
    </div>
  </div>
  
</div>
<br />
