<br />
<br />
<div id="titre">
  <br />
  <h2>Liste de toute vos notifications</h2>
</div>

<div *ngIf="notifs.length != 0">
  <div *ngFor="let notif of notifs">
    <div class="notification-list notification-list--unread">
      <div class="notification-list_content">
        <div class="notification-list_detail">
          <p>{{ notif.notification_text }}</p>
        </div>
      </div>
      <div class="notification-list_feature-img">
        <p>{{ getDate(notif.notification_date) }}</p>
      </div>
      
      <div *ngIf="notif.chat_link != ' '"  >
         <button (click)="onClick(notif.chat_link)">chatter</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="notifs.length == 0">
  
    <h2 style="text-align: center;">Vos notifications sont vides</h2>
  
</div>

<br />
