<h1>Profil de {{ userProfile.firstname }}</h1>
<div class="design-form-block">
  <p>Nom : {{ userProfile.lastname }}</p>
  <p>Prénom : {{ userProfile.firstname }}</p>
  <p>Pseudo : {{ userProfile.pseudo }}</p>
  <p>
    <!-- TODO : put real rating -->
    Notes : {{ 4 }}/5 *
    <a [routerLink]="['/ratings', userProfile!.id_user]">Voir les avis</a>
  </p>
  <p>Compétences : PHP, Python, SQL</p>
  <!-- TODO : add competences-->
</div>
<hr />
<h2>Ajouter une note à {{userProfile.firstname}}</h2>
<form
  [formGroup]="ratingForm"
  (ngSubmit)="onSubmit()"
  class="design-form-block"
>
  <div>
    <app-input-stars id="stars"></app-input-stars>
  </div>
  <app-textarea-in-form
    id="descriptionRating"
    [inputControl]="ratingForm.controls['descriptionRating']"
    nameLabel="Description de la note"
    nameMarkup="description"
  ></app-textarea-in-form>
  <div>
    <app-submit-button value="Ajouter une note"></app-submit-button>
  </div>
</form>
