.design-form-block {
    width: 500px;
    padding: 20px;
    margin-left: 33%;
    text-align: left;
}

h3{
    text-align: center;
}

.design-form-block button {
    margin-bottom: 20px;
}

hr{
    border: 1px solid #aa00ff;
    margin-left: 10em;
    margin-right: 10em;
}

h1{
    margin-top: 20px;
}



#stars{
    float: left
}

#descriptionRating{
    float: left;
}
#notification{
    color: red
}

.rate {
    height: 30px;
    padding: 0 ;
}
label {
    width:1em;
    white-space:nowrap;
    font-size:20px;
    color: #fcc700
}
label:before {
    content: '★ ';
}