<h1>Profil de {{ userProfile.firstname }}</h1>
<div class="design-form-block">
  <p>Nom : {{ userProfile.lastname }}</p>
  <p>Prénom : {{ userProfile.firstname }}</p>
  <p>Pseudo : {{ userProfile.pseudo }}</p>
  <p>
    <!-- TODO : put real rating -->
    Notes : {{ 4 }}/5 *
    <a [routerLink]="['/ratings', userProfile!.id_user]">Voir les avis</a>
  </p>
  <p>Compétences : PHP, Python, SQL</p>
  <!-- TODO : add competences-->
</div>
<hr />
<h3>Ajouter un avis à {{userProfile.firstname}}</h3>
<form
  [formGroup]="ratingForm"
  (ngSubmit)="addRating()"
  class="design-form-block"
>
  <div>
    <app-input-stars 
    id="stars"
    [inputControl]="ratingForm.controls['numberRating']"
    ></app-input-stars>
  </div>
  <app-textarea-in-form
    id="descriptionRating"
    [inputControl]="ratingForm.controls['descriptionRating']"
    nameLabel="Description de la note"
    nameMarkup="description"
    cols="100"
  ></app-textarea-in-form>
  
  <div>
    <app-submit-button value="Ajouter un avis"></app-submit-button>
  </div>
  <p id="notification">{{notificationAddRating}}</p>
</form>
