<div id="course_details_page">
  <h1>Cours de {{course.id_category}}</h1> <!--TODO category-->
  <div id="course_description">
    <h3>A propos du cours</h3>
    <p>{{course.course_description}}</p>
  </div>
  <div id="teacher_description">
    <!--TODO img-->
    <p>{{course.id_teacher}}</p> <!--TODO teacher name-->
    <span><!--TODO star--></span>
    <button>Contacter le professeur</button>
  </div>
  <div id="similar_courses" *ngFor="let similarCourse of similarCourses">
    <div class="similar_course">
      <div>
        <!--Niveau: <app-level-bubbles [level]=similarCourse.level></app-level-bubbles>--><!--TODO fix compile issue-->
      </div>
      <p class="similar_course_description">Description: {{similarCourse.course_description}}</p>
      <p class="similar_course_price">Tarif: {{similarCourse.price_per_hour}}/h</p>
    </div>
  </div>
</div>