.course_card {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.course_card button {
  text-align: center;
}

.course_card .bubbles {
  text-align: right;
}

.course_card .easy_bubbles{
  background-color: greenyellow;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.course_card .intermediate_bubbles {
  background-color: orange;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.course_card .hard_bubbles {
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.course_card .empty_bubbles {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
}