<div class="login-block">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input 
            nameLabel="Adresse mail" 
            [inputControl]="loginForm.controls['email']" 
            placeHolder="Entrez votre adresse mail"
            type="email"
            nameMarkup="email">
        </app-input>
        <app-input 
            nameLabel="Mot de passe" 
            [inputControl]="loginForm.controls['password']" 
            placeHolder="Entrez votre mot de passe"
            type="password"
            nameMarkup="password">
        </app-input>
        <span style="color: red;">{{notification}}</span>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
</div>