<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input 
        nameLabel="Adresse mail" 
        [inputControl]="loginForm.controls['email']" 
        placeHolder="Entrez votre adresse mail"
        type="email"
        nameMarkup="email">
    </app-input>
    <app-input 
        nameLabel="Mot de passe" 
        [inputControl]="loginForm.controls['password']" 
        placeHolder="Entrez votre mot de passe"
        type="password"
        nameMarkup="password">
    </app-input>
    <button type="submit">Submit</button>
</form>