<form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()" class="container">
  <div class="elementSearchBar">
    <div class="design-form-block">
      <app-select-in-form
        nameLabel="Catégorie"
        [options]="allOptions"
        [optionChosen]="searchForm.controls['optionChosen']"
        nameMarkup="categories_homepage"
        divNameMarkup="design-form-block"
      >
      </app-select-in-form>
    </div>
  </div>

  <div class="elementSearchBar">
    <div class="design-form-block">
      <app-input
        nameLabel=""
        [inputControl]="searchForm.controls['city']"
        placeHolder="ville"
        type="text"
        nameMarkup="city"
      >
      </app-input>
    </div>
  </div>

  <div class="elementSearchBar">
    <div class="design-form-block">
      <app-input
        nameLabel=""
        [inputControl]="searchForm.controls['description']"
        placeHolder="description"
        type="text"
        nameMarkup="description"
      >
      </app-input>
    </div>
  </div>

  <div class="elementSearchBar">
    <app-submit-button value="" class="search"
      ><i class="fa fa-search"></i
    ></app-submit-button>
  </div>
</form>
<div *ngFor="let actualList of courses">
  <div *ngFor="let course of actualList" class="column">
    <app-course-card
      [course]="course"
      (seeMoreEvent)="onCardClick($event)"
    ></app-course-card>
  </div>
</div>
