.login-block {
    width: 545px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    border: 2px solid #aa00ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

