.design-form-block {
    width: 500px;
    padding: 20px;
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.design-form-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.design-form-block button {
    margin-bottom: 20px;
}
