<div class="row" id="homePage">

  <div class="col"></div>

  <div class="col text-center">
    <br>
    <br>
    <div id="titre">
      <br>
 
      <h2> Inscrivez-vous </h2>
      
    </div>

    <form class="box">
      <div class="row" id="doubleTab">
        <div class="col box1" id="tabRegister">
          <br>
          <h4>Info personelle</h4>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="nom" placeholder="Nom" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="prenom" placeholder="Prénom" required>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="pseudo" placeholder="Pseudo" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="email" placeholder="Email" required>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <input type="number" class="form-control" id="numtel" placeholder="Numero de téléphone" required>
            </div>
            <div class="col">
              <select id="sexe" class="form-control">
                <option selected>SEXE</option>
                <option value="homme">Homme</option>
            <option value="Femme" selected>Femme</option>
            <option value="autre">Autre</option>
              </select>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <input type="password" class="form-control" id="motDePasse" placeholder="Mot de passe" required>
            </div>
            <div class="col">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmez votre mot de passe" required>
            </div>
          </div>

          <br>
        </div>
      </div>

      <input id="btnInscrire" type="submit" value="S'inscire">

    </form>
    <br>
  </div>
  <div class="col"></div>
</div>