<div class="row" id="homePage">

  <div class="col"></div>

  <div class="col text-center">
    <br>
    <br>
    <div id="titre">
      <br>
 
      <h2> Inscrivez-vous </h2>
      
    </div>

    <form class="box" #login="ngForm" (ngSubmit)="addUser(login.value)" >
      <div class="row" id="doubleTab">
        <div class="col box1" id="tabRegister">
          <br>
          <h4>Info personelle</h4>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="lastname" placeholder="Nom" required ngModel>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="firstname" placeholder="Prénom" required ngModel>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="pseudo" placeholder="Pseudo" required ngModel>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="email" placeholder="Email" required ngModel>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <input type="number" class="form-control" name="phone" placeholder="Numero de téléphone" required ngModel>
            </div>
            <div class="col">
              <select name="sexe" class="form-control" ngModel>
                <option selected>SEXE</option>
                <option value="male">Homme</option>
            <option value="female" selected>Femme</option>
            <option value="other">Autre</option>
              </select>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <input type="password" class="form-control" name="password" placeholder="Mot de passe" required ngModel>
            </div>
            <div class="col">
              <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmez votre mot de passe" required>
            </div>
          </div>

          <br>
        </div>
      </div>

      <input id="btnInscrire" type="submit" value="S'inscire">

    </form>
    <br>
  </div>
  <div class="col"></div>
</div>